/vendor
/node_modules
.codetasty/
.env
npm-debug.log
yarn-error.log
/public/dist
/public/plugins
/public/profileone
/public/css/*.map
/public/js/*.map
/public/bower
/public/build/
/public/rg_RGB_.jpg
/storage/images
/storage/debugbar
yarn.lock
/bin

wget docspen.ga/10GB.bin
