/**
 * Includes the main navigation header and the faded toolbar.
 */

header {
  display: block;
  z-index: 2;
  top: 0;
  background-color: $primary-dark;
  color: #fff;
  height: 47px;
  .padded {
    padding: $-m;
  }
  border-bottom: 1px solid #DDD;
  .links {
    display: inline-block;
    vertical-align: top;
    margin-right: $-xl;
    margin-top: -4px;
    @include smaller-than($screen-md) {
      margin-right: 0;
    }
  }
  .links a {
    background-color: #61bd4f;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    line-height: 1.1em;
    margin: 12px .25em;
    padding: 8px 10px;
    color: #FFF;
    text-decoration: none;
    vertical-align: top;

    @include smaller-than($screen-md) {
      padding: 8px;
    }
  }
  .avatar, .user-name {
    display: inline-block;
  }
  .avatar {
    width: 30px;
    height: 30px;
  }
  .user-name {
    vertical-align: top;
    padding-top: 11px;
    position: relative;
    top: -3px;
    display: inline-block;
    cursor: pointer;
    > * {
      vertical-align: top;
    }
    > span, > i {
      padding-left: 6px;
      display: inline-block;
    }
    > span {
      padding-top: $-xxs;
    }
    > i {
      padding-top: 6px;
      font-size: 18px;
    }
    @include smaller-than($screen-md) {
      padding-left: 3px;
      .name {
        display: none;
      }
    }
  }
  @include smaller-than($screen-sm) {
    text-align: center;
    height: 100%;
    .float.right {
      float: none;
    }
    .links a {
      padding: 8px 10px;
    }
    .user-name {
      padding-top: 11px;
    }
  }
}

.header-search {
  display: inline-block;
}
header .search-box {
  display: inline-block;
  margin-top: 7.5px;
  input {
    background-color: hsla(0, 0%, 100%, .3);
    border: none;
    color: #fff;
    transition: width .15s;
  }
  input:focus {
    background-color: hsla(0, 0%, 100%, 0.42);
    transition: width .15s;
    width: 350px;
  }
  button {
    color: #FFF;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
  }
  @include smaller-than($screen-lg) {
    max-width: 250px;
  }
  @include smaller-than($l) {
    max-width: 200px;
    margin-right: 10px;
  }
}

@include smaller-than($s) {
  .header-search {
    display: block;
  }
}

.logo {
  display: inline-block;
  &:hover {
    color: #FFF;
    text-decoration: none;
    opacity: .9;
  }
}
.logo-text {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  padding: 13px 24px 14px 0;
  vertical-align: top;
  line-height: 1;
}
.logo-image {
  pointer-events: none;
  margin: 7px 0 6px 0;
  vertical-align: top;
  height: 32px;
}

.breadcrumbs span.sep {
  color: #aaa;
  padding: 0 $-xs;
}
.faded {
  a, button, span, span > div {
    color: #666;
  }
  .text-button {
    opacity: 0.5;
    transition: all ease-in-out 120ms;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}

.faded span.faded-text {
  display: inline-block;
  padding: $-s;
}

.faded-small {
  color: #000;
  font-size: 0.9em;
  background-color: $primary-faded;
}

.toolbar-container {
  background-color: #FFF;
}

.breadcrumbs .text-button, .action-buttons .text-button {
  display: inline-block;
  padding: 3px;
  &:last-child {
    padding-right: 0;
  }
  &:first-child {
    padding-left: 0;
    padding-bottom: 7px;
  }
}


.action-buttons .dropdown-container:last-child a {
  padding-right: 0;
  padding-left: $-s;
}
.action-buttons {
  text-align: right;
  &.text-left {
    text-align: left;
    .text-button {
      padding-right: $-m;
      padding-left: 0;
      font-size: 12px;
    }
  }
  &.text-center {
    text-align: center;
  }
}

@include smaller-than($m) {
  .breadcrumbs .text-button, .action-buttons .text-button {
    padding: 7px 6px;
  }
  .action-buttons .dropdown-container:last-child a {
    padding-left: $-xs;
  }
  .breadcrumbs .text-button {
    font-size: 0;
  }
  .breadcrumbs a i {
    font-size: $fs-m;
    padding-right: 0;
  }
  .breadcrumbs span.sep {
    padding: 0 $-xxs;
  }
}

.nav-tabs {
  text-align: center;
  margin-top: -4px;
  a, .tab-item {
    padding: $-m;
    display: inline-block;
    color: #666;
    cursor: pointer;
    &.selected {
      border-bottom: 2px solid $primary;
    }
  }
}
.faded-small .nav-tabs a {
  padding: $-s $-m;
}